@model IEnumerable<CaseLanguage>


<!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"><a asp-action="create">Create</a></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Photo</th>
                                            <th>Seo</th>

                                           
                                            <th></th>
                                            
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                           <th>Title</th>
                                            <th>Photo</th>
                                            <th>Seo</th>

                                            
                                            <th></th>
                                            
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                         @foreach (var item in Model)
                                             {
                                                <tr>
                                            <td>@item.Title</td>
                                            
                                            <td>
                                                <img width="100" src="@item.Case.PhotoURL">
                                            </td>
                                            
                                            <td>@item.SEO</td>

                                            <td>
                                                <a href="/admin/case/edit/@item.Case.Id" class="btn btn-warning">Edit</a>

                                            </td>

                                               </tr>
                                            }
                                        
                                 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
